In [4]:
import warnings
warnings.filterwarnings(action='ignore')

import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
import time
from tqdm import tqdm_notebook
from selenium.webdriver.support.select import Select
from selenium import webdriver
# 브라우저 꺼짐 방지 - 추가 1
chrome_options = Options()
chrome_options.add_experimental_option("detach", True)
# 불필요한 에러 메세지 없애기 - 추가 3
chrome_options.add_experimental_option("excludeSwitches",["enable-logging"])

* 함수 i 부분에 필요한 구간 입력

def weather_logi2():
        exception_l = [2, 85, 147, 191, 252, 259, 266, 271, 287, 317, 323, 332, 355, 434, 470, 511, 546]
        check_l = range(exception_l[i]+1,exception_l[i+1])
        
        driver = webdriver.Chrome(options=chrome_options)
        driver.get("https://data.kma.go.kr/data/grnd/selectAwsRltmList.do?pgmNo=56")
        time.sleep(1)

        for exp in exception_l:
            plus = driver.find_element(By.ID,f"ztree_{exp}_switch")
            plus.click()
            time.sleep(0.5)
        
        #여기서 loc_check는 화면에 보이게 하고싶은 웹페이지 요소
        loc_check = driver.find_element(By.ID,"ztree_3_check")
        #loc_check가 화면상에 보이게끔 자동으로 스크롤해줌
        driver.execute_script("arguments[0].scrollIntoView();", loc_check)
        
        try:
            dic = {}
            for exp in check_l:
                if exp in [62, 95, 98, 99, 102, 110, 116, 127, 133, 144, 180, 303, 418, 421, 437, 453, 529]:  # 요소의 내용이 비어 있는지 확인
                    continue  # 내용이 비어 있다면 반복문 다음으로 넘어감
                tmp = driver.find_element(By.XPATH,f'//*[@id="ztree_{exp}_a"]/label').text
                driver.find_element(By.XPATH, f'//*[@id="ztree_{exp}"]/a[4]').click()
                time.sleep(2)
                check =  driver.find_element(By.CSS_SELECTOR, \
                '#wrap-datapop > div > div.cont_layer.info_point > div:nth-child(2) > table > tbody > tr:nth-child(4) > td:nth-child(4)').text
                time.sleep(2)
                dic[tmp] = check.split()[:2]
                print(tmp , dic[tmp])
                driver.find_element(By.XPATH, '//*[@id="wrap-datapop"]/div/div[1]/button').click()
                time.sleep(2)
        except NoSuchElementException:
            print("요소를 찾을 수 없습니다.")
            
        return dic

In [223]:
def weather_logi2():
        exception_l = [2, 85, 147, 191, 252, 259, 266, 271, 287, 317, 323, 332, 355, 434, 470, 511, 546]
        check_l = range(exception_l[16]+1,575)
        
        driver = webdriver.Chrome(options=chrome_options)
        driver.get("https://data.kma.go.kr/data/grnd/selectAwsRltmList.do?pgmNo=56")
        time.sleep(1)

        for exp in exception_l:
            plus = driver.find_element(By.ID,f"ztree_{exp}_switch")
            plus.click()
            time.sleep(0.5)
        
        #여기서 loc_check는 화면에 보이게 하고싶은 웹페이지 요소
        loc_check = driver.find_element(By.ID,"ztree_3_check")
        #loc_check가 화면상에 보이게끔 자동으로 스크롤해줌
        driver.execute_script("arguments[0].scrollIntoView();", loc_check)
        
        try:
            dic = {}
            for exp in check_l:
                if exp in [62, 95, 98, 99, 102, 110, 116, 127, 133, 144, 180, 303, 418, 421, 437, 453, 529]:  # 요소의 내용이 비어 있는지 확인
                    continue  # 내용이 비어 있다면 반복문 다음으로 넘어감
                tmp = driver.find_element(By.XPATH,f'//*[@id="ztree_{exp}_a"]/label').text
                driver.find_element(By.XPATH, f'//*[@id="ztree_{exp}"]/a[4]').click()
                time.sleep(2)
                check =  driver.find_element(By.CSS_SELECTOR, \
                '#wrap-datapop > div > div.cont_layer.info_point > div:nth-child(2) > table > tbody > tr:nth-child(4) > td:nth-child(4)').text
                time.sleep(2)
                dic[tmp] = check.split()[:2]
                print(tmp , dic[tmp])
                driver.find_element(By.XPATH, '//*[@id="wrap-datapop"]/div/div[1]/button').click()
                time.sleep(2)
        except NoSuchElementException:
            print("요소를 찾을 수 없습니다.")
            
        return dic

In [225]:
dic5 = weather_logi2()

가곡 (647) ['충청북도', '영동군']
가덕 (641) ['충청북도', '청주시']
괴산 (603) ['충청북도', '괴산군']
금왕 (600) ['충청북도', '음성군']
노은 (630) ['충청북도', '충주시']
단양 (601) ['충청북도', '단양군']
덕산 (639) ['충청북도', '제천시']
백운 (325) ['충청북도', '제천시']
상당 (624) ['충청북도', '청주시']
속리산 (625) ['충청북도', '보은군']
송계 (324) ['충청북도', '제천시']
수산 (621) ['충청북도', '제천시']
수안보 (622) ['충청북도', '충주시']
엄정 (620) ['충청북도', '충주시']
영동 (605) ['충청북도', '영동군']
영춘 (638) ['충청북도', '단양군']
오창 (693) ['충청북도', '청원구']
오창가곡 (977) ['충청북도', '청주시']
오창가곡 (683) ['충청북도', '청주시']
옥천 (604) ['충청북도', '옥천군']
옥천청산 (626) ['충청북도', '옥천군']
위성센터 (676) ['충청북도', '진천군']
음성 (619) ['충청북도', '음성군']
증평 (623) ['충청북도', '증평군']
진천 (602) ['충청북도', '진천군']
청남대 (888) ['충청북도', '청주시']
청주금천 (327) ['충청북도', '청주시']
청천 (640) ['충청북도', '괴산군']

In [135]:
dic1  # 12~13

{'가거도 (303)': ['전라남도', '신안군'],
 '거문도 (723)': ['전라남도', '여수시'],
 '곡성 (768)': ['전라남도', '곡성군'],
 '관산 (777)': ['전라남도', '장흥군'],
 '광양백운산 (856)': ['전라남도', '광양시'],
 '광양읍 (713)': ['전라남도', '광양시'],
 '구례 (709)': ['전라남도', '구례군'],
 '금일 (721)': ['전라남도', '완도군'],
 '나로도 (790)': ['전라남도', '고흥군'],
 '나주 (710)': ['전라남도', '나주시'],
 '낙월도 (799)': ['전라남도', '영광군'],
 '다도 (770)': ['전라남도', '나주시'],
 '담양 (706)': ['전라남도', '담양군'],
 '도양 (749)': ['전라남도', '고흥군'],
 '도화 (787)': ['전라남도', '고흥군'],
 '돌산 (786)': ['전라남도', '여수시'],
 '땅끝 (746)': ['전라남도', '해남군'],
 '마량 (964)': ['전라남도', '강진군'],
 '무안 (699)': ['전라남도', '무안군'],
 '백아면 (755)': ['전라남도', '화순군'],
 '백야 (750)': ['전라남도', '여수시'],
 '벌교 (748)': ['전라남도', '보성군'],
 '보길도 (720)': ['전라남도', '완도군'],
 '보성 (732)': ['전라남도', '보성군'],
 '복내 (765)': ['전라남도', '보성군'],
 '봉산 (688)': ['전라남도', '담양군'],
 '북일 (785)': ['전라남도', '해남군'],
 '비금 (743)': ['전라남도', '신안군'],
 '산이 (744)': ['전라남도', '해남군'],
 '상무대 (882)': ['전라남도', '장성군'],
 '상조도 (718)': ['전라남도', '진도군'],
 '서거차도 (697)': ['전라남도', '진도군'],
 '석곡 (687)': ['전라남도', '곡성군'],
 '성삼재 (315)': ['전라남도', '구례군'],
 '성전 (745)': ['전라남도', '강진군'],
 '소리도 (306)': ['전라남도', '여수시'],
 '수유 (772)': ['전라남도', '진도군'],
 '순천시 (712)': ['전라남도', '순천시'],
 '시종 (784)': ['전라남도', '영암군'],
 '신지도 (304)': ['전라남도', '완도군'],
 '안좌 (771)': ['전라남도', '신안군'],
 '압해도 (789)': ['전라남도', '신안군'],
 '여서도 (305)': ['전라남도', '완도군'],
 '여수산단 (766)': ['전라남도', '여수시'],
 '염산 (769)': ['전라남도', '영광군'],
 '영암 (731)': ['전라남도', '영암군'],
 '옥과 (795)': ['전라남도', '곡성군'],
 '옥도 (308)': ['전라남도', '신안군'],
 '완도읍 (857)': ['전라남도', '완도군'],
 '운남 (742)': ['전라남도', '무안군'],
 '월야 (775)': ['전라남도', '함평군'],
 '유치 (778)': ['전라남도', '장흥군'],
 '의신 (717)': ['전라남도', '진도군'],
 '이양 (711)': ['전라남도', '화순군'],
 '임자도 (301)': ['전라남도', '신안군'],
 '자은도 (714)': ['전라남도', '신안군'],
 '장산도 (302)': ['전라남도', '신안군'],
 '장성 (730)': ['전라남도', '장성군'],
 '전남도청 (774)': ['전라남도', '무안군'],
 '지도 (707)': ['전라남도', '신안군'],
 '지산 (858)': ['전라남도', '진도군'],
 '진도(레) (175)': ['전라남도', '진도군'],
 '청산도 (747)': ['전라남도', '완도군'],
 '초도 (796)': ['전라남도', '여수시'],
 '포두 (767)': ['전라남도', '고흥군'],
 '피아골 (791)': ['전라남도', '구례군'],
 '하의도 (716)': ['전라남도', '신안군'],
 '하태도 (797)': ['전라남도', '신안군'],
 '학산 (773)': ['전라남도', '영암군'],
 '함평 (754)': ['전라남도', '함평군'],
 '해제 (698)': ['전라남도', '무안군'],
 '현산 (776)': ['전라남도', '해남군'],
 '홍도 (798)': ['전라남도', '신안군'],
 '화순 (741)': ['전라남도', '화순군'],
 '화순능주 (973)': ['전라남도', '화순군'],
 '황전 (794)': ['전라남도', '순천시']}

In [126]:
dic2   #13~14

{'강진면 (762)': ['전북특별자치도', '임실군'],
 '구이 (317)': ['전북특별자치도', '완주군'],
 '군산산단 (886)': ['전북특별자치도', '군산시'],
 '김제 (737)': ['전북특별자치도', '김제시'],
 '내장산 (951)': ['전북특별자치도', '정읍시'],
 '덕유산 (735)': ['전북특별자치도', '무주군'],
 '동향 (758)': ['전북특별자치도', '진안군'],
 '말도 (300)': ['전북특별자치도', '군산시'],
 '무주 (701)': ['전북특별자치도', '무주군'],
 '뱀사골 (759)': ['전북특별자치도', '남원시'],
 '번암 (379)': ['전북특별자치도', '장수군'],
 '변산 (704)': ['전북특별자치도', '부안군'],
 '복흥 (760)': ['전북특별자치도', '순창군'],
 '상하 (672)': ['전북특별자치도', '고창군'],
 '새만금 (881)': ['전북특별자치도', '부안군'],
 '선유도 (719)': ['전북특별자치도', '군산시'],
 '설천봉 (314)': ['전북특별자치도', '무주군'],
 '신덕 (764)': ['전북특별자치도', '임실군'],
 '심원 (739)': ['전북특별자치도', '고창군'],
 '심포 (994)': [],
 '어청도 (700)': ['전북특별자치도', '군산시'],
 '여산 (763)': ['전북특별자치도', '익산시'],
 '완산 (864)': ['전북특별자치도', '전주시'],
 '완주 (734)': ['전북특별자치도', '완주군'],
 '위도 (756)': ['전북특별자치도', '부안군'],
 '익산 (702)': ['전북특별자치도', '익산시'],
 '줄포 (738)': ['전북특별자치도', '부안군'],
 '진봉 (736)': ['전북특별자치도', '김제시'],
 '진안 (703)': ['전북특별자치도', '진안군'],
 '진안주천 (757)': ['전북특별자치도', '진안군'],
 '태인 (761)': ['전북특별자치도', '정읍시'],
 '풍산 (690)': ['전북특별자치도', '순창군'],
 '함라 (733)': ['전북특별자치도', '익산시']}

In [141]:
dic3  # 14~15

{'가파도 (855)': ['제주특별자치도', '서귀포시'],
 '강정 (685)': ['제주특별자치도', '서귀포시'],
 '강정 (980)': ['제주특별자치도', '서귀포시'],
 '구좌 (781)': ['제주특별자치도', '제주시'],
 '금악 (880)': ['제주특별자치도', '제주시'],
 '낙천 (990)': [],
 '대정 (793)': ['제주특별자치도', '서귀포시'],
 '대흘 (330)': ['제주특별자치도', '제주시'],
 '마라도 (726)': ['제주특별자치도', '서귀포시'],
 '사제비 (868)': ['제주특별자치도', '제주시'],
 '산천단 (329)': ['제주특별자치도', '제주시'],
 '삼각봉 (867)': ['제주특별자치도', '제주시'],
 '새별오름 (883)': ['제주특별자치도', '제주시'],
 '색달 (891)': ['서귀포시', '색달동'],
 '서광 (752)': ['제주특별자치도', '서귀포시'],
 '서호 (884)': ['제주특별자치도', '서귀포시'],
 '성산수산 (892)': ['제주특별자치도', '서귀포시'],
 '성판악 (782)': ['제주특별자치도', '제주시'],
 '송당 (862)': ['제주특별자치도', '제주시'],
 '안덕화순 (989)': [],
 '애월 (893)': ['제주특별자치도', '제주시'],
 '어리목 (753)': ['제주특별자치도', '제주시'],
 '영실 (869)': ['제주특별자치도', '서귀포시'],
 '오등 (865)': ['제주특별자치도', '제주시'],
 '와산 (751)': ['제주특별자치도', '제주시'],
 '외도 (863)': ['제주특별자치도', '제주시'],
 '우도 (725)': ['제주특별자치도', '제주시'],
 '윗세오름 (871)': ['제주특별자치도', '제주시'],
 '유수암 (727)': ['제주특별자치도', '제주시'],
 '제주가시리 (890)': ['제주특별자치도', '서귀포시'],
 '제주김녕 (861)': ['제주특별자치도', '제주시'],
 '제주남원 (780)': ['제주특별자치도', '서귀포시'],
 '중문 (328)': ['제주특별자치도', '서귀포시'],
 '진달래밭 (870)': ['제주특별자치도', '서귀포시'],
 '추자도 (724)': ['제주특별자치도', '제주시'],
 '표선 (792)': ['제주특별자치도', '서귀포시'],
 '한남 (885)': ['제주특별자치도', '서귀포시'],
 '한라산남벽 (965)': [],
 '한라생태숲 (866)': ['제주특별자치도', '제주시'],
 '한림 (779)': ['제주특별자치도', '제주시']}

In [132]:
dic4  # 15~16

{'계룡 (636)': ['충청남도', '계룡시'],
 '계룡산 (659)': ['충청남도', '계룡시'],
 '공주 (612)': ['충청남도', '공주시'],
 '근흥 (607)': ['충청남도', '태안군'],
 '논산 (615)': ['충청남도', '논산시'],
 '당진 (616)': ['충청남도', '당진시'],
 '대산 (606)': ['충청남도', '서산시'],
 '대천항 (657)': ['충청남도', '보령시'],
 '만리포 (658)': ['충청남도', '태안군'],
 '북격렬비도 (229)': ['충청남도', '태안군'],
 '삽시도 (609)': ['충청남도', '보령시'],
 '서부 (645)': ['충청남도', '홍성군'],
 '서천 (614)': ['충청남도', '서천군'],
 '송악 (493)': ['충청남도', '아산시'],
 '신평 (637)': ['충청남도', '당진시'],
 '아산 (634)': ['충청남도', '아산시'],
 '안도 (666)': ['충청남도', '태안군'],
 '양화 (635)': ['충청남도', '부여군'],
 '연무 (644)': ['충청남도', '논산시'],
 '예산 (628)': ['충청남도', '예산군'],
 '옹도 (667)': ['충청남도', '태안군'],
 '외연도 (669)': ['충청남도', '보령시'],
 '원효봉 (694)': ['충청남도', '예산군'],
 '유구 (632)': ['충청남도', '공주시'],
 '정산 (691)': ['충청남도', '청양군'],
 '정안 (633)': ['충청남도', '공주시'],
 '직산 (617)': ['충청남도', '천안시'],
 '청양 (618)': ['충청남도', '청양군'],
 '춘장대 (646)': ['충청남도', '서천군'],
 '태안 (627)': ['충청남도', '태안군'],
 '호도 (578)': ['충청남도', '보령시'],
 '홍북 (608)': ['충청남도', '홍성군'],
 '홍성죽도 (610)': ['충청남도', '홍성군']}

In [ ]:
dic5  # 16~17

In [150]:
df = pd.DataFrame(dic1.items(), columns=['장소', '위치'])
df

             장소           위치
0     가거도 (303)  [전라남도, 신안군]
1     거문도 (723)  [전라남도, 여수시]
2      곡성 (768)  [전라남도, 곡성군]
3      관산 (777)  [전라남도, 장흥군]
4   광양백운산 (856)  [전라남도, 광양시]
..          ...          ...
71     현산 (776)  [전라남도, 해남군]
72     홍도 (798)  [전라남도, 신안군]
73     화순 (741)  [전라남도, 화순군]
74   화순능주 (973)  [전라남도, 화순군]
75     황전 (794)  [전라남도, 순천시]

[76 rows x 2 columns]

In [226]:
#1
df = pd.DataFrame(dic5.items(), columns=['장소', '위치'])
df[['시도','구']] = pd.DataFrame(df['위치'].tolist())
df.drop(columns=['위치'], inplace=True)
df

            장소    시도    구
0     가곡 (647)  충청북도  영동군
1     가덕 (641)  충청북도  청주시
2     괴산 (603)  충청북도  괴산군
3     금왕 (600)  충청북도  음성군
4     노은 (630)  충청북도  충주시
5     단양 (601)  충청북도  단양군
6     덕산 (639)  충청북도  제천시
7     백운 (325)  충청북도  제천시
8     상당 (624)  충청북도  청주시
9    속리산 (625)  충청북도  보은군
10    송계 (324)  충청북도  제천시
11    수산 (621)  충청북도  제천시
12   수안보 (622)  충청북도  충주시
13    엄정 (620)  충청북도  충주시
14    영동 (605)  충청북도  영동군
15    영춘 (638)  충청북도  단양군
16    오창 (693)  충청북도  청원구
17  오창가곡 (977)  충청북도  청주시
18  오창가곡 (683)  충청북도  청주시
19    옥천 (604)  충청북도  옥천군
20  옥천청산 (626)  충청북도  옥천군
21  위성센터 (676)  충청북도  진천군
22    음성 (619)  충청북도  음성군
23    증평 (623)  충청북도  증평군
24    진천 (602)  충청북도  진천군
25   청남대 (888)  충청북도  청주시
26  청주금천 (327)  충청북도  청주시
27    청천 (640)  충청북도  괴산군

In [227]:
# 시도 변경
df.replace('충청북도', '충북', inplace=True)
df

            장소  시도    구
0     가곡 (647)  충북  영동군
1     가덕 (641)  충북  청주시
2     괴산 (603)  충북  괴산군
3     금왕 (600)  충북  음성군
4     노은 (630)  충북  충주시
5     단양 (601)  충북  단양군
6     덕산 (639)  충북  제천시
7     백운 (325)  충북  제천시
8     상당 (624)  충북  청주시
9    속리산 (625)  충북  보은군
10    송계 (324)  충북  제천시
11    수산 (621)  충북  제천시
12   수안보 (622)  충북  충주시
13    엄정 (620)  충북  충주시
14    영동 (605)  충북  영동군
15    영춘 (638)  충북  단양군
16    오창 (693)  충북  청원구
17  오창가곡 (977)  충북  청주시
18  오창가곡 (683)  충북  청주시
19    옥천 (604)  충북  옥천군
20  옥천청산 (626)  충북  옥천군
21  위성센터 (676)  충북  진천군
22    음성 (619)  충북  음성군
23    증평 (623)  충북  증평군
24    진천 (602)  충북  진천군
25   청남대 (888)  충북  청주시
26  청주금천 (327)  충북  청주시
27    청천 (640)  충북  괴산군

In [210]:
# 결측값 수정
df.loc[5] = ['낙천 (990)', '제주', '제주시']
df.loc[13] = ['색달 (891)', '제주', '서귀포시']
df.loc[19] = ['안덕화순 (989)', '제주', '서귀포시']
df.loc[37] = ['한라산남벽 (965)', '제주', '서귀포시']

In [228]:
# 숫자만 분리 후 int 객체로 변경
df['장소'] = df['장소'].str.extract(r'\((\d+)\)').astype(int)

In [229]:
df

     장소  시도    구
0   647  충북  영동군
1   641  충북  청주시
2   603  충북  괴산군
3   600  충북  음성군
4   630  충북  충주시
5   601  충북  단양군
6   639  충북  제천시
7   325  충북  제천시
8   624  충북  청주시
9   625  충북  보은군
10  324  충북  제천시
11  621  충북  제천시
12  622  충북  충주시
13  620  충북  충주시
14  605  충북  영동군
15  638  충북  단양군
16  693  충북  청원구
17  977  충북  청주시
18  683  충북  청주시
19  604  충북  옥천군
20  626  충북  옥천군
21  676  충북  진천군
22  619  충북  음성군
23  623  충북  증평군
24  602  충북  진천군
25  888  충북  청주시
26  327  충북  청주시
27  640  충북  괴산군

In [230]:
df.to_excel('e/충북날씨.xlsx', index=False)

In [231]:
pd.read_excel('e/충북날씨.xlsx')

     장소  시도    구
0   647  충북  영동군
1   641  충북  청주시
2   603  충북  괴산군
3   600  충북  음성군
4   630  충북  충주시
5   601  충북  단양군
6   639  충북  제천시
7   325  충북  제천시
8   624  충북  청주시
9   625  충북  보은군
10  324  충북  제천시
11  621  충북  제천시
12  622  충북  충주시
13  620  충북  충주시
14  605  충북  영동군
15  638  충북  단양군
16  693  충북  청원구
17  977  충북  청주시
18  683  충북  청주시
19  604  충북  옥천군
20  626  충북  옥천군
21  676  충북  진천군
22  619  충북  음성군
23  623  충북  증평군
24  602  충북  진천군
25  888  충북  청주시
26  327  충북  청주시
27  640  충북  괴산군

In [233]:
from glob import glob

In [234]:
df_xls = glob('e/*날씨.xlsx')
df_xls

['e\\전남날씨.xlsx',
 'e\\전북날씨.xlsx',
 'e\\제주날씨.xlsx',
 'e\\충남날씨.xlsx',
 'e\\충북날씨.xlsx']

In [235]:
df_raw = []

for file in df_xls:
    df = pd.read_excel(file)
    df_raw.append(df)

final = pd.concat(df_raw)

In [236]:
final

     장소  시도    구
0   303  전남  신안군
1   723  전남  여수시
2   768  전남  곡성군
3   777  전남  장흥군
4   856  전남  광양시
..  ...  ..  ...
23  623  충북  증평군
24  602  충북  진천군
25  888  충북  청주시
26  327  충북  청주시
27  640  충북  괴산군

[210 rows x 3 columns]

In [237]:
final.to_excel('result/전남_충북.xlsx', index=False)

In [238]:
pd.read_excel('result/전남_충북.xlsx')

      장소  시도    구
0    303  전남  신안군
1    723  전남  여수시
2    768  전남  곡성군
3    777  전남  장흥군
4    856  전남  광양시
..   ...  ..  ...
205  623  충북  증평군
206  602  충북  진천군
207  888  충북  청주시
208  327  충북  청주시
209  640  충북  괴산군

[210 rows x 3 columns]

In [344]:
df = pd.read_excel('e/daejeon.xlsx', index_col=0)

In [345]:
df = df.transpose()
df=df.reset_index(drop=False)
df

       index      0    1
0   세천 (643)  대전광역시   동구
1  오월드 (642)  대전광역시   중구
2   장동 (648)  대전광역시  대덕구
3   정림 (378)  대전광역시   서구

In [346]:
#df_t.rename(columns={'index':'장소', 0:'시도', 1:'구'})
df.columns=['장소','시도','구']
df

          장소     시도    구
0   세천 (643)  대전광역시   동구
1  오월드 (642)  대전광역시   중구
2   장동 (648)  대전광역시  대덕구
3   정림 (378)  대전광역시   서구

In [347]:
# 시도 변경
df.replace('대전광역시', '대전', inplace=True)
df

# 결측값 수정
#df.loc[5] = ['낙천 (990)', '제주', '제주시']


# 숫자만 분리 후 int 객체로 변경
df['장소'] = df['장소'].str.extract(r'\((\d+)\)').astype(int)

df.to_excel('e/대전날씨.xlsx', index=False)

In [348]:
df

    장소  시도    구
0  643  대전   동구
1  642  대전   중구
2  648  대전  대덕구
3  378  대전   서구

In [306]:
df = pd.read_excel('result/전남_충북.xlsx')

In [307]:
df

      장소  시도    구
0    303  전남  신안군
1    723  전남  여수시
2    768  전남  곡성군
3    777  전남  장흥군
4    856  전남  광양시
..   ...  ..  ...
205  623  충북  증평군
206  602  충북  진천군
207  888  충북  청주시
208  327  충북  청주시
209  640  충북  괴산군

[210 rows x 3 columns]