In [37]:
import time
import tqdm #tqdm은 스테이터스 바 (진행 바)
from tqdm import tqdm_notebook
import pandas as pd
import numpy as np
from glob import glob
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import urllib.request
import time
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.common.exceptions import NoSuchElementException
# 크롬 드라이버 자동 업데이트
from webdriver_manager.chrome import ChromeDriverManager
# 브라우저 꺼짐 방지
chrome_options = Options()
chrome_options.add_experimental_option("detach", True)
# 불필요한 에러 메시지 없애기
chrome_options.add_experimental_option("excludeSwitches", ["enable-logging"])
service = Service(executable_path=ChromeDriverManager().install())

In [36]:
import warnings
warnings.filterwarnings(action = "ignore")

In [81]:
def weather_detail():
    #류가연이 담당한 파트 : exception_l[8]+1,exception_l[12]
        exception_l = [2, 85, 147, 191, 252, 259, 266, 271, 287, 317, 323, 332, 355, 434, 470, 511, 546]
        check_l = range(exception_l[8]+1,exception_l[9])
        cc = [x for x in check_l if x not in exception_l]
        
        driver = webdriver.Chrome(options=chrome_options)
        driver.get("https://data.kma.go.kr/data/grnd/selectAwsRltmList.do?pgmNo=56")
        time.sleep(1)

        for exp in exception_l:
            plus = driver.find_element(By.ID,f"ztree_{exp}_switch")
            plus.click()
            time.sleep(1)
        
        #여기서 loc_check는 화면에 보이게 하고싶은 웹페이지 요소
        loc_check = driver.find_element(By.ID,"ztree_3_check")
        #loc_check가 화면상에 보이게끔 자동으로 스크롤해줌
        driver.execute_script("arguments[0].scrollIntoView();", loc_check)
        
        try:
            dic = {}
            for exp in check_l:
                if exp in [62, 95, 98, 99, 102, 110, 116, 127, 133, 144, 180, 303, 418, 421, 437, 453, 529]:  # 요소의 내용이 비어 있는지 확인
                    continue  # 내용이 비어 있다면 반복문 다음으로 넘어감
                tmp = driver.find_element(By.XPATH,f'//*[@id="ztree_{exp}_a"]/label').text
                driver.find_element(By.XPATH, f'//*[@id="ztree_{exp}"]/a[4]').click()
                time.sleep(3)
                check =  driver.find_element(By.CSS_SELECTOR, \
                '#wrap-datapop > div > div.cont_layer.info_point > div:nth-child(2) > table > tbody > tr:nth-child(4) > td:nth-child(4)').text
                time.sleep(3)
                dic[tmp] = check.split()[:2]
                print(tmp , dic[tmp])
                driver.find_element(By.XPATH, '//*[@id="wrap-datapop"]/div/div[1]/button').click()
                time.sleep(3)
        except NoSuchElementException:
            print("요소를 찾을 수 없습니다.")
            
        return dic

In [82]:
#exception_l[8]+1,exception_l[9]
dic = weather_detail()

강남 (400) ['서울특별시', '강남구']
강동 (402) ['서울특별시', '강동구']
강북* (424) ['서울특별시', '강북구']
강서 (404) ['서울특별시', '강서구']
관악 (509) ['서울특별시', '관악구']
광진 (413) ['서울특별시', '광진구']
구로 (423) ['서울특별시', '구로구']
금천 (417) ['서울특별시', '금천구']
기상청 (410) ['서울특별시', '동작구']
남현 (425) ['서울특별시', '관악구']
노원 (407) ['서울특별시', '노원구']
도봉 (406) ['서울특별시', '도봉구']
동대문 (408) ['서울특별시', '동대문구']
마포 (411) ['서울특별시', '마포구']
북악산 (422) ['서울특별시', '종로구']
서대문 (412) ['서울특별시', '서대문구']
서초 (401) ['서울특별시', '서초구']
성동 (421) ['서울특별시', '성동구']
성북 (414) ['서울특별시', '성북구']
송파 (403) ['서울특별시', '송파구']
양천 (405) ['서울특별시', '양천구']
영등포 (510) ['서울특별시', '영등포구']
용산 (415) ['서울특별시', '용산구']
은평 (416) ['서울특별시', '은평구']
중구 (419) ['서울특별시', '중구']
중랑 (409) ['서울특별시', '중랑구']
한강 (418) ['서울특별시', '영등포구']
현충원 (889) ['서울특별시', '동작구']

In [62]:
#exception_l[9]+1,exception_l[10]
dic2 = weather_detail()

세종고운 (494) ['세종특별자치시', '고운동']
세종금남 (496) ['세종특별자치시', '세종특별자치시']
세종연기 (887) ['세종특별자치시', '연기면']
세종연서 (611) ['세종특별자치시', '연서면']
세종전의 (629) ['세종특별자치시', '전의면']

In [64]:
#exception_l[10]+1,exception_l[11]
dic3 = weather_detail()

간절곶 (924) ['울산광역시', '울주군']
두서 (900) ['울산광역시', '울주군']
매곡 (943) ['울산광역시', '북구']
삼동 (854) ['울산광역시', '울주군']
온산 (954) ['울산광역시', '울주군']
울기 (901) ['울산광역시', '동구']
장생포 (898) ['울산광역시', '남구']
정자 (949) ['울산광역시', '북구']

In [67]:
#exception_l[11]+1,exception_l[12]
dic4 = weather_detail()

경서동 (511) ['인천광역시', '서구']
교동 (502) ['인천광역시', '강화군']
금곡 (570) ['인천광역시', '서구']
대연평 (501) ['인천광역시', '옹진군']
덕적북리 (230) ['인천광역시', '옹진군']
목덕도 (663) ['인천광역시', '옹진군']
무의도 (665) ['인천광역시', '중구']
백령(레) (426) ['인천광역시', '옹진군']
백령면 (528) ['인천광역시', '옹진군']
백아 (513) ['인천광역시', '옹진군']
볼음도 (656) ['인천광역시', '강화군']
부평 (649) ['인천광역시', '부평구']
소청도 (655) ['인천광역시', '옹진군']
송도 (631) ['인천광역시', '연수구']
승봉도 (662) ['인천광역시', '옹진군']
양도 (500) ['인천광역시', '강화군']
영종도 (543) ['인천광역시', '중구']
영흥도 (664) ['인천광역시', '옹진군']
왕산 (508) ['인천광역시', '중구']
인천연수 (512) ['인천광역시', '연수구']
자월도 (654) ['인천광역시', '옹진군']
장봉도 (577) ['인천광역시', '옹진군']

In [199]:
df3 = pd.DataFrame(dic4.items(), columns = ['장소', '위치'])
df3[['시도', '구']] = pd.DataFrame(df3['위치'].tolist(), index = df3.index)
df3.drop(columns = ['위치'], inplace = True)

In [200]:
import pandas as pd
import re
df3['숫자'] = df3['장소'].apply(lambda x: re.search(r'\((\d+)\)', x).group(1))

In [201]:
df3

             장소     시도    구   숫자
0     경서동 (511)  인천광역시   서구  511
1      교동 (502)  인천광역시  강화군  502
2      금곡 (570)  인천광역시   서구  570
3     대연평 (501)  인천광역시  옹진군  501
4    덕적북리 (230)  인천광역시  옹진군  230
5     목덕도 (663)  인천광역시  옹진군  663
6     무의도 (665)  인천광역시   중구  665
7   백령(레) (426)  인천광역시  옹진군  426
8     백령면 (528)  인천광역시  옹진군  528
9      백아 (513)  인천광역시  옹진군  513
10    볼음도 (656)  인천광역시  강화군  656
11     부평 (649)  인천광역시  부평구  649
12    소청도 (655)  인천광역시  옹진군  655
13     송도 (631)  인천광역시  연수구  631
14    승봉도 (662)  인천광역시  옹진군  662
15     양도 (500)  인천광역시  강화군  500
16    영종도 (543)  인천광역시   중구  543
17    영흥도 (664)  인천광역시  옹진군  664
18     왕산 (508)  인천광역시   중구  508
19   인천연수 (512)  인천광역시  연수구  512
20    자월도 (654)  인천광역시  옹진군  654
21    장봉도 (577)  인천광역시  옹진군  577

In [202]:
df3['장소'] = df3['숫자']

In [203]:
del df3['숫자']

In [204]:
df3

     장소     시도    구
0   511  인천광역시   서구
1   502  인천광역시  강화군
2   570  인천광역시   서구
3   501  인천광역시  옹진군
4   230  인천광역시  옹진군
5   663  인천광역시  옹진군
6   665  인천광역시   중구
7   426  인천광역시  옹진군
8   528  인천광역시  옹진군
9   513  인천광역시  옹진군
10  656  인천광역시  강화군
11  649  인천광역시  부평구
12  655  인천광역시  옹진군
13  631  인천광역시  연수구
14  662  인천광역시  옹진군
15  500  인천광역시  강화군
16  543  인천광역시   중구
17  664  인천광역시  옹진군
18  508  인천광역시   중구
19  512  인천광역시  연수구
20  654  인천광역시  옹진군
21  577  인천광역시  옹진군

In [209]:
df3['시도'] = '인천'

In [210]:
df3['장소'] = df3['장소'].astype(int)

In [211]:
df3.reset_index()

    index   장소  시도    구
0       0  511  인천   서구
1       1  502  인천  강화군
2       2  570  인천   서구
3       3  501  인천  옹진군
4       4  230  인천  옹진군
5       5  663  인천  옹진군
6       6  665  인천   중구
7       7  426  인천  옹진군
8       8  528  인천  옹진군
9       9  513  인천  옹진군
10     10  656  인천  강화군
11     11  649  인천  부평구
12     12  655  인천  옹진군
13     13  631  인천  연수구
14     14  662  인천  옹진군
15     15  500  인천  강화군
16     16  543  인천   중구
17     17  664  인천  옹진군
18     18  508  인천   중구
19     19  512  인천  연수구
20     20  654  인천  옹진군
21     21  577  인천  옹진군

In [213]:
#완료
df #서울
df1 #세종
df2 #울산
df3 #인천

     장소  시도    구
0   511  인천   서구
1   502  인천  강화군
2   570  인천   서구
3   501  인천  옹진군
4   230  인천  옹진군
5   663  인천  옹진군
6   665  인천   중구
7   426  인천  옹진군
8   528  인천  옹진군
9   513  인천  옹진군
10  656  인천  강화군
11  649  인천  부평구
12  655  인천  옹진군
13  631  인천  연수구
14  662  인천  옹진군
15  500  인천  강화군
16  543  인천   중구
17  664  인천  옹진군
18  508  인천   중구
19  512  인천  연수구
20  654  인천  옹진군
21  577  인천  옹진군

In [215]:
# 데이터프레임을 리스트에 담기
dfs = [df, df1, df2, df3]

# 데이터프레임 합치기
result = pd.concat(dfs)

     장소  시도    구
0   400  서울  강남구
1   402  서울  강동구
2   424  서울  강북구
3   404  서울  강서구
4   509  서울  관악구
..  ...  ..  ...
17  664  인천  옹진군
18  508  인천   중구
19  512  인천  연수구
20  654  인천  옹진군
21  577  인천  옹진군

[63 rows x 3 columns]

In [219]:
result = result.reset_index()

In [221]:
del result['index']

In [223]:
result.to_excel('서울_인천.xlsx', index=False)