In [ ]:
import pandas as pd
import numpy as np
import glob
name_list = glob.glob("../data/day/교통사고*.xls")
name_list[0]

In [ ]:
df = pd.read_excel(name_list[0],usecols=[0,1,2,3,4,8],header=1)
df = df.loc[1:,:]
df

In [ ]:
df = df[df["지자체"].notnull()]
df["연도"] = df["연도"].astype(int)
df["연도"] = df["연도"].astype(str)

In [ ]:
df_day = pd.DataFrame()
for i in name_list:
    df = pd.read_excel(i,usecols=[0,1,2,3,4,8],header=1)
    df = df.loc[1:,:]
    df = df[df["지자체"].notnull()]
    df["연도"] = df["연도"].astype(int)
    df["연도"] = df["연도"].astype(str)
    df_day = pd.concat([df_day,df])
df_day

In [ ]:
df_day.columns = ["시도", "구", "연도", "요일별", "발생건수", "사망자수"]
df_day.to_excel("../result/서울_요일별_raw.xlsx")
df_day = df_day.pivot_table(index=['시도', '구', '연도'], columns = '요일별', values=['발생건수', '사망자수'],
                    aggfunc= 'sum')

In [ ]:
new_columns = []
for num in range(int(len(df_day.columns)/2)):
    new_columns.append('발생_'+df_day.columns[num][1])
for num in range(int(len(df_day.columns)/2)):
    new_columns.append('사망_'+df_day.columns[num][1])
df_day.columns = new_columns
df_day_r = df_day.reset_index()

In [ ]:
df_day_r.to_excel("../result/서울_요일별.xlsx")

In [ ]:
name_list = glob.glob("../data/holiday/교통사고*.xls")
name_list[0]

In [ ]:
df_holiday = pd.DataFrame()
name_list = glob.glob("../data/holiday/교통사고*.xls")
for i in name_list:
    df = pd.read_excel(i,usecols=[0,1,2,3,4,8],header=1)
    df = df.loc[1:,:]
    df = df[df["지자체"].notnull()]
    df["연도"] = df["연도"].astype(int)
    df["연도"] = df["연도"].astype(str)
    df_holiday = pd.concat([df_holiday,df])
df_holiday.columns = ["시도", "구", "연도", "평일/휴일", "발생건수", "사망자수"]
df_holiday

In [ ]:
df_holiday = df_holiday.pivot_table(index=['시도', '구', '연도'], columns = '평일/휴일', values=['발생건수', '사망자수'],
                    aggfunc= 'sum')

In [ ]:
d = df_holiday
new_columns = []
for num in range(int(len(d.columns)/2)):
    new_columns.append('발생_'+d.columns[num][1])
for num in range(int(len(d.columns)/2)):
    new_columns.append('사망_'+d.columns[num][1])
d.columns = new_columns
df_holiday_r = d.reset_index()
df_holiday_r

In [ ]:
df_holiday_r.to_excel("../result/서울_평일휴일.xlsx")

In [ ]:
df_m = pd.DataFrame()
name_list = glob.glob("../data/month/교통사고*.xls")
for i in name_list:
    df = pd.read_excel(i,usecols=[0,1,2,3,4,8],header=1)
    df = df.loc[1:,:]
    df = df[df["지자체"].notnull()]
    df["연도"] = df["연도"].astype(int)
    df["연도"] = df["연도"].astype(str)
    df_m = pd.concat([df_m,df])
df_m.columns = ["시도", "구", "연도", "월별", "발생건수", "사망자수"]
df_m

In [ ]:
df_m.to_excel("../result/서울_월별_raw.xlsx")

In [ ]:
df_m = df_m.pivot_table(index=['시도', '구', '연도'], columns = '월별', values=['발생건수', '사망자수'],
                    aggfunc= 'sum')
d = df_m
new_columns = []
for num in range(int(len(d.columns)/2)):
    new_columns.append('발생_'+d.columns[num][1])
for num in range(int(len(d.columns)/2)):
    new_columns.append('사망_'+d.columns[num][1])
d.columns = new_columns
df_m_r = d.reset_index()
df_m_r

In [ ]:
df_m_r.to_excel("../result/서울_월별.xlsx")

In [ ]:
d = df_w
new_columns = []
for num in range(int(len(d.columns)/2)):
    new_columns.append('발생_'+d.columns[num][1])
for num in range(int(len(d.columns)/2)):
    new_columns.append('사망_'+d.columns[num][1])
d.columns = new_columns
df_w_r = d.reset_index()
df_w_r

In [ ]:
df_w_r.to_excel("../result/서울_기상상태.xlsx")